body{
    background-color: #e0e0e0;
}
li{
    padding-left: 50px;
    
}
.col{
    color: #ffb300;
}
.col:hover{
    color: #ffea00;
}
#com{
    color: black;
}
#bod{
    border-style: solid;
    border-color: red;
   
}
.footer{
    background-color: #424242;
    
}

