body{
    background-color: #f5f5f5;
    font-family: 'PT Sans', sans-serif;
}

li{
    padding-left: 50px;
    
}
.col{
    color: #000;
}
.col:hover{
    color: red;
}
#try{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
    
}
#try:hover{
    filter: grayscale(0%);
}

#com{
    color: black;
}
#bod{
    border-style: solid;
    border-color: red;
   
}
.footer{
    background-color: #424242;
    
}

.fa{
    color: black;
    padding: 1.5px;
}



