.container{
    display: flex;
}
li{
    padding-left: 50px;
    
}
.col{
    color: #ffb300;
}
.col:hover{
    color: #ffea00;
}
#com{
    color: black;
}
#bod{
    border-style: solid;
    border-color: red;
   
}

